body {
	background-color: #eceff0;
}

body,
input {
	font: 1em "Open Sans", sans-serif;
	color: #363639;
}

a {
	text-decoration: none;
	border-bottom: 1px dashed #363639;
}

/* list */
.list {
	background-color: #ffffff;
	margin: 20px auto;
	width: 100%;
	max-width: 650px;
	padding: 20px;
	border-radius: 2px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
	box-sizing: border-box;
}

.list .header {
	font-family: "Shadows Into Light Two", cursive;
	margin: 0 0 10px 0;
}

/* Items */
.items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.done-button:hover, 
.undone-button:hover,
.delete-button:hover {
	opacity: 1;
}

.items .item.done {
	text-decoration:line-through;
}

.items li, 
.item-add .input {
	border: 0;
	border-bottom: 1px dashed #ccc;
	padding: 20px 0;
}

.input {
	width: 100%;
}

.input:focus {
	outline: none;
}

.done-button, .undone-button{
	display: inline-block;
	font-size: 0.8em;
	background-color: #d9dfe1;
	color: #363639;
	padding: 3px 6px;
	border: 0px;
	opacity: 0.4;
	float: right;
}

.delete-button {
	display: inline-block;
	font-size: 0.8em;
	background-color: #FF1919;
	color: #363639;
	padding: 3px 6px;
	border: 0px;
	opacity: 0.6;
	float: right;
}

.undone-button {
	margin-left: 20px;
}

.delete-button {
	margin-left: 20px;
}

/* Submit button */

.submit {
	background-color: #fff;
	padding: 5px 10px;
	border: 1px solid #ddd;
	width: 100%;
	margin-top: 10px;
	box-shadow: 3px 3px 0 #ddd;
}

.submit:active {
	box-shadow: 0px 0px 0;
}

.submit:focus {
	outline-width: 0px;
}